.sidebar-color{
    -fx-background-color: white;
}
.sidebar-lines{
    -fx-background-color: #54626C;
}
.sidebar-buttons{
    -fx-background-color: transparent;
}
.background{
    -fx-background-color: linear-gradient(to bottom left, #ECF6FF, #93C2DB);
}
@font-face {
    -fx-font-family: 'Coolvetica Rg';
    src: url('/UI/fonts/coolvetica.ttf')
}
.font{
    -fx-font-family: "Coolvetica Rg";
}