.sidebar-color{
    -fx-background-color: white;
}
.sidebar-lines{
    -fx-background-color: #54626C;
}
.sidebar-buttons{
    -fx-background-color: transparent;
}
.background{
    -fx-background-color: linear-gradient(to bottom left, #ECF6FF, #93C2DB);
}
@font-face {
    -fx-font-family: 'Coolvetica Rg';
    src: url('/UI/fonts/coolvetica.ttf')
}
.font{
    -fx-font-family: "Coolvetica Rg";
}
.event-buttons{
    -fx-background-color: #a2d5ef;
    -fx-text-fill: white;
    -fx-border-width: 4;
    -fx-border-radius: 2;
    -fx-border-color: #7397a9;
}