.ticketBorder {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 20px solid black;
    border-right: 3px solid black;
    height: 350px;
}
.box {
    height: 90%;
    width: 30%;
    background-color: black;
    margin-left: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.header1{
    margin-left: 200px;
    margin-bottom: 100px;
}
